<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body>
    <h1>all profiles</h1>
    <a href="/profile/new">create a new profile</a>
    <% if(profiles.length>0){ %>
        <% for(let profile of profiles){ %>
            <div><%= profile.name %></div>
        <% } %>
    <% } %>
</body>
</html>