*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /* overflow: hidden; */
    text-decoration: none;
    color: whitesmoke;
}
.main{
    background-color: black;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: url("https://64.media.tumblr.com/4b3b0287ca43ce1021340cd692f65f9f/tumblr_mj7iufgKNi1qghl49o1_500.gifv"); */
    background-size: repeat;
}
.box{
    color: whitesmoke;
    height: fit-content;
    min-width: 99%;
    padding: .5rem;
    margin: .5rem .8rem;
    background-color: #121212;
    border-radius: .5rem;
    box-shadow: 0px 0px 5px white;
    border: none;
}
.box h1{
    margin: .5rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 1px 1px 4px white;
}
.white{
    color: whitesmoke;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .logo img{
    z-index: -5;
    height: 20rem;
    filter: drop-shadow(0 0 0.1rem white);
    
}
.socialink{
    width: 30%;
}
.socialink ul li a{
    margin: .2rem;
    padding: .2rem .8rem;
    text-decoration: none;
    color: whitesmoke;
}
.socialink ul li i{
    margin: .5rem;
    margin-left: -.3rem;
    padding: .3rem;
}
.socialink ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.socialink ul li{
    background-color: #242424;
    border-radius: .5rem .5rem 0rem 0rem;
    opacity: .7;
    width: 100%;
    margin: .2rem;
    padding: .2rem;
}
.socialink ul li:hover{
    border-radius: .5rem;
    opacity: 1;
    background-color: #090909;
    transform: scale(1.01);
}
.boardcontainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
}
.board{
    margin: .5rem;
    padding: .1rem;
    background-color: #242424;
    border: none;
    border-radius: .5rem;
    height: 100%;
    width: 100%;
}
.boardhead{
    background-color: #121212;
    border-radius: .5rem .5rem 0rem 0rem;
    width: 100%;
    height: 100%;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin: .1rem .1rem;
    padding: .1rem .5rem;
    opacity: .7;
}
.boardbody{
    margin-top: .5rem;
    margin-bottom: -.3rem;
    padding: .2rem .5rem;
}
.glow:hover {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
        filter: drop-shadow( 0 0 10px #fff) drop-shadow( 0 0 20px #fff) drop-shadow( 0 0 30px #e60073) drop-shadow( 0 0 40px #e60073) drop-shadow(0 0 50px #e60073) drop-shadow( 0 0 60px #e60073) drop-shadow( 0 0 70px #e60073);
    }
    to {
        filter: drop-shadow( 0 0 20px #fff) drop-shadow(0 0 30px #ff4da6) drop-shadow( 0 0 40px #ff4da6) drop-shadow( 0 0 50px #ff4da6) drop-shadow( 0 0 60px #ff4da6) drop-shadow( 0 0 70px #ff4da6) drop-shadow( 0 0 80px #ff4da6);
    }
  }
  .about{
    display: flex;
    align-items: center;
  }
  .box-carousel, .box-content{
    margin: .3rem;
    padding: .5rem;
    background-color: #121212;
    border-radius: .5rem;
    width: 50%;
  }
  .carousel-item img{
    border-radius: .5rem;
    height: 20rem;
  }
  .cardholder{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .heading{
    width: 90%;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
  }
  .card{
    width: 22rem;
  }
  .card img{
    width: 100%;
    height: 15rem;
    border-radius: .5rem 0rem;
  }
  .panel{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: .2rem;
  }
  .panel .board{
    max-height: 20rem;
    overflow: hidden;
  }