*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /* overflow: hidden; */
    text-decoration: none;
    color: whitesmoke;
}
.main{
    background-color: rgb(28, 56, 38);
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: url("https://64.media.tumblr.com/4b3b0287ca43ce1021340cd692f65f9f/tumblr_mj7iufgKNi1qghl49o1_500.gifv"); */
    background-size: repeat;
}
.box{
    color: rgb(251, 255, 1);
    height: fit-content;
    min-width: 95%;
    padding: .5rem;
    padding-right: 1rem;
    margin: .5rem .8rem;
    margin-right: 2rem;
    margin-top: .8rem;
    background-color: #0e3915;
    border-radius: 0 0 .7rem 0;
    box-shadow: 3px 3px 8px rgb(238, 246, 6);
    border: none;
}
.box h1{
    margin: .5rem;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 1px 1px 4px white;
}
.white{
    color: whitesmoke;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .logo img{
    z-index: -5;
    height: 20rem;
    filter: drop-shadow(0 0 0.1rem white);
    
}
.socialink{
    width: 30%;
}
.socialink ul li a{
    margin: .2rem;
    padding: .2rem .8rem;
    text-decoration: none;
    color: whitesmoke;
}
.socialink ul li i{
    margin: .5rem;
    margin-left: -.3rem;
    padding: .3rem;
}
.socialink ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.socialink ul li{
    background-color: #242424;
    border-radius: .5rem .5rem 0rem 0rem;
    opacity: .7;
    width: 100%;
    margin: .2rem;
    padding: .2rem;
}
.socialink ul li:hover{
    border-radius: .5rem;
    opacity: 1;
    background-color: #090909;
    transform: scale(1.01);
}
.boardcontainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
}
.board{
    margin: .5rem;
    padding: .1rem;
    background-color: #242424;
    border: none;
    border-radius: .5rem;
    height: 100%;
    width: 100%;
}
.boardhead{
    background-color: #121212;
    border-radius: .5rem .5rem 0rem 0rem;
    width: 100%;
    height: 100%;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin: .1rem .1rem;
    padding: .1rem .5rem;
    opacity: .7;
}
.boardbody{
    margin-top: .5rem;
    margin-bottom: -.3rem;
    padding: .2rem .5rem;
}
.glow:hover {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
        filter: drop-shadow( 0 0 10px #fff) drop-shadow( 0 0 20px #fff) drop-shadow( 0 0 30px #e60073) drop-shadow( 0 0 40px #e60073) drop-shadow(0 0 50px #e60073) drop-shadow( 0 0 60px #e60073) drop-shadow( 0 0 70px #e60073);
    }
    to {
        filter: drop-shadow( 0 0 20px #fff) drop-shadow(0 0 30px #ff4da6) drop-shadow( 0 0 40px #ff4da6) drop-shadow( 0 0 50px #ff4da6) drop-shadow( 0 0 60px #ff4da6) drop-shadow( 0 0 70px #ff4da6) drop-shadow( 0 0 80px #ff4da6);
    }
  }
  .about{
    display: flex;
    align-items: center;
  }
  .box-carousel, .box-content{
    margin: .3rem;
    padding: .5rem;
    background-color: #121212;
    border-radius: .5rem;
    width: 50%;
  }
  .carousel-item img{
    border-radius: .5rem;
    height: 20rem;
  }
  .cardholder{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .heading{
    width: 90%;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
  }
  .card{
    width: 22rem;
  }
  .card img{
    width: 100%;
    height: 15rem;
    border-radius: .5rem 0rem;
  }
  .panel{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: .2rem;
  }
  .panel .board{
    max-height: 20rem;
    overflow: hidden;
  }

  footer{
    min-width: 40vh !important;
  }
  
  .featureBox .socialink {
    min-width: 100% !important;
  }

  .featureBox .featureCard ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .featureBox .featureCard ul li {
    height: 4rem;
    width: 45%;

          --b: .5em; /* border width */
          --c: 3em; /* corner size */
          --r: 2em; /* corner rounding */
          position: relative;
          margin: 1em auto;
          border: solid var(--b) transparent;
          padding: 1em;
          max-width: 23em;
          font: 1.25em ubuntu, sans-serif;
          
          &::before {
            position: absolute;
            z-index: -1;
            inset: calc(-1*var(--b));
            border: inherit;
            border-radius: var(--r);
            background: linear-gradient(orange, deeppink, purple) border-box;
            --corner: 
              conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0) 
                0 0/ calc(100% - var(--c))  calc(100% - var(--c)) border-box;
            --inner: conic-gradient(red 0 0) padding-box;
            -webkit-mask: var(--corner), var(--inner);
            -webkit-mask-composite: source-out;
                    mask: var(--corner) subtract, var(--inner);
            content: ''
          }
  }

  .ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
  
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }

  @media(max-width: 576px){
    .main{
      width: 100%;
      padding-right: 1.2rem;
    }
    .box h1{
      font-size: 1.2rem;
    }
    .banner{
      flex-direction: column;
    }
    .socialink{
      margin: 2rem auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
    .socialink li{
      display: inline;
      margin: 0;
      padding: 0;
    }
    .socialink ul li a{
      margin: 0;
      padding: 0;
    }
    .socialink ul li i{
      border-radius: 50%;
      transform: scale(2);
      margin: .5rem .5rem;
      padding: .3rem;
    }
    .hide{
      display: none;
    }
    .socialink ul li{
      background-color: inherit;
    }
    .socialink ul li:hover{
        background-color: inherit;
    }
    
    .boardcontainer{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center ;
      margin: 1rem 0rem;
    }
    .about{
      flex-direction: column;
    }
    .box-carousel, .box-content{
      width: 100%;
    }
}